*{
    font-family: 'Crimson Pro', serif;
    font-family: 'Literata', serif;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



